<% include ../partials/header %>

<div class="container mt-5">
    <h1 class="my-2 pt-3">Budget and Mid-Range Boracay Hotels and Resorts</h1>
    <blockquote>
    <p class="lead text-secondary">"Prices are subject to change without notice"</p>
    <footer class="blockquote-footer">Michael Aquino, Tripsavvy</footer>
    </blockquote>

    <div class="row">
        <div class="col-md-9 my-2">
        <img src="/images/bora-bora.jpg" alt="" class="img-fluid mb-4">
        <p class="lead">Boracay Island in the Philippines has developed quite rapidly since its discovery by backpackers in the 70s – today it’s a busy party island with a good selection of budget and mid-range beach resorts all across its length, not just on the famous White Beach but on its other less-known beaches and coves as well! This list represents a range of prices and locations, all of them offering significant access to the magic of Boracay.</p>
        <h2><span id="pink">01.</span> Fat Jimmy's</h2>
        <p class="lead">Fat Jimmy's is a centrally-located budget inn, set up at the periphery of Boracay’s D' Mall. The beach is about three minutes’ walk due west. The accommodations at Fat Jimmy’s come in many types, all the better to suit tighter budgets: cheaper fan cooled rooms that can fit 3 people, Standard rooms with aircon that can fit a maximum of 5 people, and Superior rooms that can fit a maximum of 6 people. Every type has a private toilet with a hot shower. Guests can also take advantage of Fat Jimmy’s laundry & pressing service, cooking service, and free WI-FI.</p>
            <ul>
                <li class="lead"><span class="text-info">Rates:</span> From $25</li>
                <li class="lead"><span class="text-info">Phone:</span> +63 36 288 5562</li>
                <li class="lead"><span class="text-info">Email:</span> fjboracay@yahoo.com</li>
                <li class="lead"><span class="text-info">Website:</span><a href="http://fatjimmysresort.com/"> fatjimmysresort.com</a></li>
                <li class="lead"><span class="text-info">Address:</span> <em>Station 2, Balabag, Boracay Island, Malay, 5608 Aklan, Philippines.</em></li>
            </ul>
        <h2><span id="pink">02.</span> La Bella Casa</h2>
        <p class="lead">La Bella Casa’s location near Cocomangas Bar (of “15 shots and still standing” fame) puts it at a prime location for heavy imbibers, but its location off of the beachfront may give beachgoers pause. Other landmarks close by include the Balabag Catholic Church and Willys, a sister beachfront resort that allows Bella Casa guests to use their beach lounge chairs.</p>
        <p class="lead">The resort’s air-conditioned rooms come furnished with cable TV, mini-fridge, and private shower and bathtub. WiFi is available at all levels, with routers on every floor.</p>
            <ul>
                <li class="lead"><span class="text-info">Rates:</span> From $40</li>
                <li class="lead"><span class="text-info">Phone:</span> +63 36 288 5846</li>
                <li class="lead"><span class="text-info">Email:</span> reservations@labellaboracay.com</li>
                <li class="lead"><span class="text-info">Website:</span><a href="https://www.tripadvisor.com/Hotel_Review-s1-g294260-d1381076-Reviews-La_Bella_Casa-Boracay_Malay_Aklan_Province_Panay_Island_Visayas.html"> La Bella Casa on tripadvisor.com</a></li>
                <li class="lead"><span class="text-info">Address:</span> <em>White Beach, Station 1, Balabag, Boracay, 5608 Aklan, Philippines.</em></li>
            </ul>
        <h2><span id="pink">03.</span> Turtle Inn</h2>
        <p class="lead">Turtle Inn Resort is a family-run resort located on Boracay’s Station 3, White Beach. The location is hardly beachfront – a two-minute walk away from the shoreline, and a five-minute walk away from the D’Mall retail and dining/drinking scene.</p>
        <p class="lead">The three-storey buildings have a total of 15 guestrooms, many of them provided with large balconies to give great views of the island. Of the three suites on the premises, two can be joined to create a double family suite for large groups of up to eight people. Rooms come with queen-size beds, hot showers, air-conditioning, cable TV, and minibar.</p>
            <ul>
                <li class="lead"><span class="text-info">Rates:</span> From $47</li>
                <li class="lead"><span class="text-info">Phone:</span> +63 36 288 4206</li>
                <li class="lead"><span class="text-info">Website:</span><a href="http://www.turtleinnboracay.com/"> www.turtleinnboracay.com</a></li>
                <li class="lead"><span class="text-info">Address:</span> <em>Station 3 Sitio Ahbulong, Boracay Island, Malay, Aklan, Philippines.</em></li>
            </ul>
        <h2><span id="pink">04.</span> Boracay Sandcastles</h2>
        <p class="lead">Boracay Sandcastles is a beachfront property that offers a series of rustic resort villas and rooms, furnished with native décor that take their cue from some of the Philippines’ best-known tribal groups. Sandcastles’ accommodations come with cable TV, air-conditioning, internet access, and hot showers. Its location near Station 1 allows guests easy access to Boracay’s nightlife.</p>
            <ul>
                <li class="lead"><span class="text-info">Rates:</span> From $60</li>
                <li class="lead"><span class="text-info">Phone:</span> +63 36 288 3207</li>
                <li class="lead"><span class="text-info">Email:</span> boracaysandcastles@yahoo.com</li>
                <li class="lead"><span class="text-info">Website:</span><a href="https://www.boracaysandcastles.com/"> www.boracaysandcastles.com</a></li>
                <li class="lead"><span class="text-info">Address:</span> <em>Station 2, Barangay Balabag, Boracay, Malay, 5608 Aklan, Philippines.</em></li>
            </ul>
            <h2><span id="pink">05.</span> One Crescent Place Hotel</h2>
            <p class="lead">One Crescent Place Hotel is a boutique hotel located near Station 1 on White Beach. The place is not beachfront property – guests must walk a few meters to Boracay’s powdery white sands.</p>
            <p class="lead">Standard room features include a deck, dining area, kitchenette, microwave oven, refrigerator, private toilet and shower, mini-bar, safe, and Internet access. Room facilities range from the basic to the superior room’s two double-size beds and DVD player with 5-channel surround sound home theater system.</p>
            <ul>
                <li class="lead"><span class="text-info">Rates:</span> From $64</li>
                <li class="lead"><span class="text-info">Phone:</span> +63 36 288 5429</li>
                <li class="lead"><span class="text-info">Website:</span><a href="https://www.onecrescentplace.com/"> www.onecrescentplace.com</a></li>
                <li class="lead"><span class="text-info">Address:</span> <em>Balabag Malay, Boracay Island, 5608 Aklan, Philippines.</em></li>
            </ul>
        </div>
<!--sidebar-->
        <% include ../partials/sidebar %>    
    </div>
</div>

<% include ../partials/footer %>