<% include ../partials/header %>

<div class="container">
<h1 class="my-2">Start Your Own Travel Business</h1>
<footer class="blockquote-footer">Ryan Apaco, WCA Travel Blog</footer>
    <div class="row">
        <div class="col-md-9 my-2">
        <p class="lead">Do you want to start your own travel agency or home-base travel booking business?</p>
        <p class="lead">Be an affiliate of a multi-awarded travel company and we will make sure you’ll get the best returns on your investment.</p>
        <p class="lead">With only <strong><span class="text-danger">Php 19,600</span></strong> franchise fee, you’ll enjoy the following benefits:</p>
        <ul>
            <li class="lead"><strong>Access to One-Stop SHOP Travel Portal –</strong> For Local and International bookings of HOTELS, FLIGHTS and TOUR PACKAGES and enjoy travel deals and promos where affiliates can sell or consume all products available in our system.</li>
            <li class="lead"><strong>Lifetime Discounts On Travel Needs –</strong> Enjoy up to 20% discount on your own flights, hotel accommodation and tour packages.</li>
            <li class="lead"><strong>Personalized Website.</strong></li>
            <li class="lead"><strong>Excellent Business Opportunity To Earn Infinite Income.</strong></li>
            <li class="lead"><strong>Training & Continuous Support.</strong></li>
        </ul>
        <p class="lead"><strong>POTENTIAL INCOME:<span class="text-danger"> Php 5,000 per DAY / Php 150,000 per MONTH</span></strong></p>
        <p class="lead"><strong>SAMPLE COMPUTATION:</strong></p>
        <p class="lead">Booking a Vacation of 10 people. . .</p>
        <p class="lead"><strong>Airline Tickets:</strong> with Php 300.00 mark up x 10 pax = Php 3,000.00 income</p>
        <p class="lead"><strong>Hotels:</strong> with Php 300.00 mark up x 10 pax = Php 3,000.00 income</p>
        <p class="lead"><strong>Tour Packages:</strong> with Php 500.00 mark up x 10 pax = Php 5,000.00 income</p>
        <p class="lead">* Figures indicated above are for discussion purposes only. These may still vary.</p>
        <h4>Why Start your own Travel Agency or Home-base Travel Booking business?</h4>
        <ol>
            <li class="lead">It is easy to learn. No travel background is required.</li>
            <li class="lead">It is a perfect business for starting entrepreneurs. Low Investment with very low risk. Low Operational Cost (Smartphone/Laptop and Internet Connection).</li>
            <li class="lead">The Business provides a huge earning potential from Php 300/person income up to Php 5,000/person depending on the type of service.</li>
            <ul>
                <li class="lead">Domestic Airline Tickets Php 300.00 – Php500.00/person</li>
                <li class="lead">International Tickets Php 500.00 – Php2,000.00/person</li>
                <li class="lead">Domestic Tour Packages Php 300.00 –Php1,000.00/person</li>
                <li class="lead">International Tour Packages Php 500.00 – Php2,000/person</li>
                <li class="lead">Domestic Hotel Php 300 – Php 1,000/person</li>
                <li class="lead">International Hotel Php 500 – Php 1,000/person</li>
            </ul>
            <li class="lead">Automatic Discounts or even Free of Charge Travel on your personal trips.</li>
            <li class="lead">An Ideal Long term business. Travel is now a necessity.</li>
            <li class="lead">Clients are not only Philippine-based but worldwide since you have access to WORLDWIDE FLIGHTS, HOTEL ACCOMMODATIONS and even TOURS and PACKAGES.</li>
            <li class="lead">Portable business. You can book wherever you are using your smartphone and data/wifi connection.</li>
            <li class="lead">You are your own boss. Since your the boss of your own business, you will enjoy FREEDOM.</li>
        </ol>
        <a href="http://www.wcatravel.com/jackiee27?fbclid=IwAR1L71SQy2VfpqUzYriADI76OFq6Z9hKOXwYdc0hWtEKz0GSqyPDkxwsZSg"><h1 class="text-center">JOIN NOW!</h1></a>
        </div>
        <div class="col-md-3 bg-white">
            <h4 class="my-4">Let's Talk About Business</h4>
            <div class="my-4">
                <img src="/images/profile-picture.jpg" alt="" class="img-fluid">
            </div>
            <h5 class="mb-2">Hi, My name is Jacklyn!</h5>
            <p>I am a WCA Travel Premier Affiliate.</p>
            <p>Let me help you start your own travel business.</p>
            <a href="https://www.facebook.com/pritygirlush/photos_albums?sk=wall&lst=522768716%3A522622775%3A1542357456">Click here to send a message on Facebook</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>