<% include ../partials/header %>

<div class="container">
<h1 class="my-2">Top Places to Visit in the Philippines</h1>
<blockquote>
    <p class="lead text-secondary">"It's More Fun" to Discover this Island Country's Hidden Charms"</p>
    <footer class="blockquote-footer">Michael Aquino, Tripsavvy</footer>
</blockquote>

    <div class="row">
        <div class="col-md-9 my-2">
        <img src="/images/el-nido-palawan.JPG" alt="" class="img-fluid mb-4">
        <p class="lead">Most other countries in Southeast Asia are connected by road and rail to each other. Not the Philippines - it is the only country in the region with neither land borders nor road links to any of its neighbors.</p>
        <p class="lead">But don't let that stop you from flying in anyway: as you'll see in the destinations listed below, many of this country's attractions are worth the special trip.</p>
        <h3>01. Manila: Heart of Empire</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/manila.jpg" alt="" class="img-fluid my-2">
                </div>
                <div class="col-lg-6">
                    <p class="lead">Most travelers skip exploring Manila at length, preferring to jet in and out to the rest of the Philippines without delay. They're missing out on a lot: the conglomeration of Metro Manila has more partying, culture, history and entertainment than all the other spots combined. (Shhh, don't tell the people from Cebu.)</p>
                </div>
            </div>
        </div>
        <p class="lead pl-3">Manila served as the seat for two successive colonial rulers. Spain's presence can still be felt in the old walled city Intramuros and its feared bastion Fort Santiago; the American presence manifests today in the Beaux-arts government buildings around Rizal Park.</p>
        <p class="lead pl-3">Once you get the hang of Manila's transportation system, you can then move all around the city to see its top sights. And you get a real potpourri - Bonifacio Global City's hypermodern streets, museums and shopping malls; Binondo's ancient higgledly-piggledly of Chinese-Filipino businesses and eating places; and Makati's two worlds of businessmen and backpackers.</p>
        <h3>02. Cebu: Queen City</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <p class="lead">The "Queen City of the South" vies with Manila for recognition as the Philippines' Number One City. But in terms of ease of transport, access to the great outdoors, and more fun per square mile, Cebu has the capital beat. (Shhh, don't tell the people from Manila.)</p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/Sinulog-Festival.jpg" alt="" class="img-fluid my-2">
                </div>
            </div>
        </div>
        <p class="lead pl-3">The Spanish came here to Cebu first via Mexico, and remade the place and its people in their image. Their influence can still be felt in the Basilica Minore de Santo Niño, where a glass-covered niche holds a precious statue of the Christ Child that commands countless devotees throughout Cebu. This devotion reaches its peak during the Sinulog Festival (pictured here) that takes place in the middle of January every year.</p>
        <p class="lead pl-3">The rest of the city overlays 21st-century modernity onto an older stratum of churches, ancient museum-lined streets like Calle Colon, and street food stops like Fuente Osmeña.</p>
        <p class="lead pl-3">The waters around Cebu are known for their biodiversity; famous dive spots around the area, like Sumilon Island and Moalboal, attract thousands of experienced divers every year. And you don't even need a PADI certificate to experience the swim of a lifetime; the far-flung town of Oslob lets you snorkel with the whale sharks.</p>
        <h3>03. The Cordilleras' Rice Terraces: Mountain Magic</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/rice-terraces.jpg" alt="" class="img-fluid my-2">
                </div>
                <div class="col-lg-6">
                    <p class="lead">The mountainous terrain of the Philippines' Cordilleras kept the Spanish colonizers away, allowing the Ifugao of these parts to keep their unique culture alive. Today, buses regularly ply the treacherously curvy roads leading into Banaue - you can now take a nine-hour bus ride from Manila into the mountains, going where conquistadores feared to tread.</p>
                </div>
            </div>
        </div>
        <p class="lead pl-3">Hiking around the UNESCO World Heritage sites in these parts - the rice terraces carved out of the mountains some 500 years ago - you'll find a way of life that revolves around rice. You'll also walk some pretty challenging hiking trails that plunge steeply down mountainsides and right alongside sheer cliff faces.</p>
        <h3>04. Siargao: Surfing on Cloud Nine</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <p class="lead">Its short coastline facing the Pacific Ocean has few family-friendly beaches, but that doesn’t stop international travelers from converging on Siargao and its challenging surfing spots. Siargao was “discovered” by the outside world in the 1970s, and has long been a “secret” known only to locals and surfers till very recently.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/siargao-surfing.jpg" alt="" class="img-fluid my-2">
                </div>
            </div>
        </div>
        <p class="lead pl-3">The surfing spot known as Cloud 9 boasts a ferocious reputation, its powerful waves and rocky bottom shredding backsides and egos on a regular basis.</p>
        <p class="lead pl-3">The island’s taken a more family-friendly turn as of late, helped along by a hit movie and breathless word-of-mouth. While this 170-square-mile island denies “the next Boracay” title, the new resorts and tours around the island capitalize on other fascinating features such as the Magpupungko tidal pool and the white-sand beaches on outlying islands – Naked Island (actually a sandbar); Guyam Island and Daku Island.</p>
        <h3>05. Palawan: World's Best Island</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/palawan.jpg" alt="" class="img-fluid my-2">
                </div>
                <div class="col-lg-6">
                    <p class="lead">The “world’s best island” makes up the “arm” of the Philippines, a 260-mile sliver running southwest to northeast along the archipelago’s western flank. Wherever you land on that “arm”, you’ll find Paradise, though expressed in different ways. At the capital Puerto Princesa, you’ll find an abundant spread of local food, and one of the Philippines’ best craft beer shops.</p>
                </div>
            </div>
        </div>
        <p class="lead pl-3">Fly or drive up to the town of El Nido, and you’ll discover an archipelago filled with over 40 breathtakingly beautiful limestone islands ripe for island-hopping and hiking around the cliffs.</p>
        <p class="lead pl-3">Then there’s Coron at the northern extreme of the island: site of a World War II wreck dive site and bucket-list worthy beaches and lagoons.</p>
    </div>
        <div class="col-md-3 bg-white lead">
            <h4>Let's Talk About Business</h4>
            <div class="my-4">
                <img src="/images/profile-picture.jpg" alt="" class="img-fluid">
            </div>
            <h5 class="mb-2">Hi, My name is Jacklyn!</h5>
            <p>I am a WCA Travel Premier Affiliate.</p>
            <p>Let me help you start your own travel business.</p>
            <a href="https://www.facebook.com/pritygirlush/photos_albums?sk=wall&lst=522768716%3A522622775%3A1542357456">Click here to send a message on Facebook</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>