<section id="newsletter" class="bg-dark mt-4">
        <div class="container text-white text-center py-5">
            <p class="lead">JOIN OUR NEWSLETTER FOR DEALS, UPDATES AND OFFERS</p>
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <form action="" class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email" id="">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Join Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>

<script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
  </body>
</html>