        <div class="col-md-3 bg-white">
            <div class="bg-light p-2 mt-2 rounded">
                <h2>Let's Talk About Business</h2>
                <div class="my-3">
                    <img src="/images/cherry-blossom2.jpg" alt="" class="img-fluid">
                </div>
                <h4 class="mt-3" id="pink">Hello and Welcome!</h4>
                <p class="lead">My Name is Jacklyn and I am a WCA Travel Premier Affiliate. Let me help you start your own travel business.</p>
                <a href="https://www.facebook.com/pritygirlush?lst=522768716%3A522622775%3A1542357456">Send me a message on <span class="lead"><i class="fab fa-facebook-square"></i></span></a>
            </div>
            <div class="list-group list-group-flush my-3">
                <h2>Latest Blogs</h2>
                <a href="/blogs/start-your-own-travel-business" class="list-group-item list-group-item-action" id="pink">Start Your Own Travel Business</a>
                <a href="/blogs/top-places-to-visit-in-the-philippines" class="list-group-item list-group-item-action" id="pink">Top Places to Visit in the Philippines</a>
                <a href="/blogs/budget-and-mid-range-boracay-hotels" class="list-group-item list-group-item-action" id="pink">Budget and Mid-Range Boracay Hotels and Resorts</a>
            </div>
        </div>